.root {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	/* stylelint-disable-next-line */
	height: 100vh; /* Fallback for browsers that do not support Custom Properties */
	/* stylelint-disable-next-line */
	height: calc(var(--vh, 1vh) * 100);
	padding-top: 80px;

	&_no {
		&_pt {
			padding-top: 0;
		}
	}
}

.sect-help {
	padding-top: 128px;
	padding-bottom: 189px;

	&__title {
		margin-bottom: 32px;
		text-align: center;
	}

	&__desc {
		margin-bottom: 32px;
		text-align: center;
	}

	&__btn {
		text-align: center;

		button {
			width: 335px;
		}

		@include media(xs) {
			button {
				width: 100%;
			}
		}
	}
}

.sect-accessories {
	padding-top: 32px;
	background-color: #f6f6f6;

	@include media(xs) {
		padding-top: 24px;
	}

	&__left {
		display: flex;
		justify-content: center;
	}

	&__right {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;

		@include media(xs) {
			margin-bottom: 24px;
			height: auto;
		}
	}

	&__img {
		width: 312px;
		height: auto;

		@include media(sm) {
			width: 264px;
		}

		@include media(xs) {
			width: 185px;
		}

		@include media(xxs) {
			width: 211px;
		}
	}

	&__title {
		margin-bottom: 32px;
		text-align: center;

		@include media(xs) {
			margin-bottom: 24px;
		}
	}

	&__btn {
		text-align: center;
	}
}
