.root {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	/* stylelint-disable-next-line */
	height: 100vh; /* Fallback for browsers that do not support Custom Properties */
	/* stylelint-disable-next-line */
	height: calc(var(--vh, 1vh) * 100);
	padding-top: 80px;

	&_no {
		&_pt {
			padding-top: 0;
		}
	}
}

.sect-help {
	padding-top: 128px;
	padding-bottom: 189px;

	@include media(xs) {
		padding-top: 64px;
		padding-bottom: 64px;
	}

	&__title {
		margin-bottom: 64px;
		text-align: center;

		@include media(md) {
			margin-bottom: 32px;
		}
	}

	&__desc {
		margin-bottom: 64px;
		text-align: center;

		@include media(md) {
			margin-bottom: 32px;
		}
	}

	&__btn {
		text-align: center;

		button {
			width: 335px;
		}

		@include media(xs) {
			button {
				width: 100%;
			}
		}
	}
}

.sect-accessories {
	background-color: #f6f6f6;

	&__new-block {
		position: relative;
	}
}

.accessories-new-block {
	display: block;

	@include media(xs) {
		padding-top: 108px;
	}

	&__wrap {
		position: relative;
		padding-left: 40px;

		@include media(sm) {
			padding-left: 16px;
		}

		@include media(xs) {
			margin-left: 15%;
			padding-left: 40px;
		}
	}

	&__frame {
		position: absolute;
		z-index: 1;
		bottom: 50%;
		left: 0;
		transform: translateY(50%);
		display: block;
		width: 326px;
		height: auto;

		@include media(xl) {
			width: 272px;
		}

		@include media(lg) {
			width: 240px;
		}

		@include media(md) {
			width: 220px;
		}

		@include media(sm) {
			width: 132px;
		}

		@include media(xs) {
			left: 0;
			bottom: 12px;
			transform: translate(0);
			width: 199px;
		}
	}

	&__img {
		display: block;
		height: 472px;

		@include media(xl) {
			height: 348px;
		}

		@include media(lg) {
			height: 306px;
		}

		@include media(md) {
			height: 252px;
		}

		@include media(sm) {
			height: 186px;
		}

		@include media(xs) {
			height: 238px;
		}

		> * {
			height: 100%;
			width: auto;
		}
	}

	&__choose {
		position: absolute;
		z-index: 1;
		top: 50%;
		right: 46px;
		transform: translateY(-50%);
		display: block;
		text-align: center;

		@include media(xl) {
			right: 31px;
		}

		@include media(lg) {
			right: 25px;
		}

		@include media(md) {
			right: 31px;
		}

		@include media(sm) {
			right: 8px;
		}

		@include media(xs) {
			top: 0;
			right: 50%;
			transform: translate(50%, 0);
		}
	}

	&__title {
		display: block;
		margin-bottom: 32px;

		@include media(xs) {
			margin-bottom: 24px;
		}
	}
}
