.acquiring {
	position: relative;
	display: block;

	&__rails {
		position: absolute;
		top: 0;
		left: calc(#{_col(2, xxl)} + ((100% - #{_col(12, xxl)}) / 2) + 40px);
		width: 215px;
		height: calc(100% - 272px);

		@include media(xl) {
			left: calc(#{_col(2, xl)} + ((100% - #{_col(12, xl)}) / 2) - 56px);
			height: calc(100% - 275px);
		}

		@include media(lg) {
			left: calc(#{_col(2, lg)} + ((100% - #{_col(12, lg)}) / 2) - 70px);
		}

		@include media(md) {
			left: calc(#{_col(1, md)} + ((100% - #{_col(12, md)}) / 2) + 12px);
			width: 185px;
			height: calc(100% - 198px);
		}

		@include media(sm) {
			left: calc(#{_col(1, sm)} + ((100% - #{_col(12, sm)}) / 2) + 12px);
			height: calc(100% - 222px);
		}

		@include media(xs) {
			display: none;
		}
	}

	&__card {
		position: sticky;
		z-index: 4;
		top: 182px;
		left: 0;
		display: block;
		width: 100%;
		height: auto;
		object-fit: contain;
		object-position: 50% 50%;

		@include media(md) {
			top: 108px;
		}
	}

	&__middle-block {
		position: relative;
	}
}

.top-block {
	display: block;
	padding-top: 200px;
	padding-bottom: 36px;
	background-color: #f6f6f6;

	@include media(md) {
		padding-top: 128px;
		padding-bottom: 70px;
	}

	@include media(xs) {
		padding-bottom: 32px;
	}

	&__wrap {
		position: relative;
		display: block;
		width: calc(#{_col(4, xxl)} - 112px);
		margin-left: auto;
		margin-right: -18px;
		@include aspect-ratio(497, 396);

		@include media(lg) {
			width: calc(#{_col(5, lg)} + 3px);
			margin-left: 38px;
			margin-right: 0;
		}

		@include media(md) {
			width: calc(#{_col(5, md)} + 28px);
			margin-left: auto;
			margin-right: 26px;
		}

		@include media(sm) {
			margin-right: 0;
			margin-left: calc(4px - #{_col(2, sm)});
		}

		@include media(xs) {
			display: none;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: 50% 50%;
		}
	}

	&__title {
		margin-bottom: 128px;
		color: $textBtn;

		@include media(md) {
			padding-top: 36px;
		}

		@include media(xs) {
			margin-bottom: 34px;
			padding-top: 0;
		}
	}

	&__purse {
		display: none;

		@include media(xs) {
			display: block;
			margin-left: -112px;
			width: 495px;
			height: auto;
		}

		@include media(xxs) {
			margin-left: -156px;
		}
	}

	&__content {
		p {
			margin: 0;
			font-size: 15px;
			line-height: 21px;
			color: $textBtn;

			@include media(md) {
				font-size: 14px;
				line-height: 1.4;
			}
		}
	}
}

.middle-block {
	overflow: hidden;
	padding-top: 248px;
	padding-bottom: 345px;

	@include media(lg) {
		padding-bottom: 325px;
	}

	@include media(md) {
		padding-top: 128px;
		padding-bottom: 398px;
	}

	@include media(sm) {
		padding-top: 112px;
		padding-bottom: 358px;
	}

	@include media(xs) {
		padding-top: 64px;
		padding-bottom: 128px;
	}

	@include media(xxs) {
		padding-bottom: 38px;
	}

	&__hand-wraper,
	&__fingers {
		position: absolute;
		left: calc((100% - #{_col(12, xxl)}) / 2 + #{_col(5, xxl)} - 115px);
		bottom: -176px;
		transform: translateX(-100%);
		display: block;
		width: 1020px;
		height: 840px;
		pointer-events: none;

		@include media(xl) {
			bottom: -172px;
			left: calc((100% - #{_col(12, xl)}) / 2 + #{_col(5, xl)} - 92px);
		}

		@include media(lg) {
			left: calc((100% - #{_col(12, lg)}) / 2 + #{_col(5, lg)} - 62px);
		}

		@include media(md) {
			bottom: 66px;
			left: calc((100% - #{_col(12, md)}) / 2 + #{_col(5, md)} - 54px);
			width: 875px;
			height: 620px;
		}

		@include media(sm) {
			left: calc(50% - 48px);
		}

		@include media(xs) {
			display: none;
		}
	}

	&__fingers {
		z-index: 5;
	}

	&__hand {
		position: absolute;
		z-index: 0;
		left: 0;
		top: 0;
		display: block;
		width: 100%;
		height: auto;
		object-fit: contain;
		object-position: 50% 50%;
	}

	&__title {
		position: relative;
		z-index: 1;
		max-width: calc(#{_col(3, xxl)} - 24px);
		margin: 0 0 426px;
		color: $grayText;

		@include media(xl) {
			max-width: calc(#{_col(4, xl)} - 24px);
		}

		@include media(md) {
			margin-bottom: 252px;
		}

		@include media(xs) {
			margin-bottom: 36px;
		}

		@include media(xxs) {
			margin-bottom: 45px;
		}
	}

	&__hand-xs {
		display: none;

		@include media(xs) {
			display: block;
			width: 582px;
			height: auto;
			margin-bottom: 10px;
			margin-left: -196px;
		}

		@include media(xxs) {
			margin-bottom: 2px;
			margin-left: -224px;
		}
	}

	&__content {
		position: relative;
		z-index: 1;

		h3 {
			margin: 0 0 24px;

			@include media(xl) {
				margin-bottom: 32px;
			}

			@include media(xs) {
				margin-bottom: 52px;
			}
		}
	}
}

.bottom-block {
	position: relative;
	z-index: 2;
	padding-top: 226px;
	padding-bottom: 175px;
	background-color: #f6f6f6;

	@include media(md) {
		padding-top: 128px;
		padding-bottom: 116px;
	}

	@include media(sm) {
		padding-bottom: 124px;
	}

	@include media(xs) {
		padding-top: 18px;
		padding-bottom: 32px;
	}

	@include media(xxs) {
		padding-bottom: 27px;
	}

	&__kassa-wrap {
		position: absolute;
		left: calc((100% - #{_col(12, xxl)}) / 2 + #{_col(4, xxl)} - 37px);
		top: calc(50% + 16px);
		transform: translate(-100%, -50%);
		width: 886px;
		height: 352px;

		@include media(xl) {
			left: calc((100% - #{_col(12, xl)}) / 2 + #{_col(4, xl)} - 54px);
		}

		@include media(lg) {
			left: calc((100% - #{_col(12, lg)}) / 2 + #{_col(4, lg)} - 42px);
		}

		@include media(md) {
			left: calc((100% - #{_col(12, md)}) / 2 + #{_col(4, md)} - 30px);
			width: 792px;
			height: 314px;
		}

		@include media(sm) {
			left: calc((100% - #{_col(12, sm)}) / 2 + #{_col(5, sm)} - 26px);
		}

		@include media(xs) {
			display: none;
		}
	}

	&__kassa {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: auto;
	}

	&__screen {
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 10px;
		transform: translateY(-50%);
		width: 530px;
		height: auto;

		@include media(xl) {
			left: 40px;
		}

		@include media(md) {
			left: 0;
		}
	}

	&__kassa-xs {
		display: none;

		@include media(xs) {
			display: block;
			margin-bottom: 34px;
			margin-left: -190px;
		}

		@include media(xxs) {
			margin-left: -222px;
		}
	}

	&__title {
		margin: 0 0 24px;

		@include media(xs) {
			margin-bottom: 44px;
		}
	}

	&__content {
		margin-bottom: 64px;

		@include media(xl) {
			margin-bottom: 44px;
		}

		@include media(sm) {
			margin-bottom: 32px;
		}

		@include media(xs) {
			margin-bottom: 40px;
		}

		@include media(xxs) {
			margin-bottom: 32px;
		}
	}

	&__pay {
		max-width: 358px;

		@include media(md) {
			max-width: calc(#{_col(4, md)} - 16px);
		}

		@include media(sm) {
			max-width: 100%;
		}
	}
}

.crediting-money {
	padding-top: 462px;
	padding-bottom: 220px;

	@include media(md) {
		padding-top: 238px;
		padding-bottom: 96px;
	}

	@include media(sm) {
		padding-top: 212px;
		padding-bottom: 102px;
	}

	@include media(xs) {
		padding: 128px 0;
	}

	@include media(xxs) {
		padding-top: 160px;
	}

	&__rails {
		position: absolute;
		z-index: 1;
		top: -187px;
		left: calc(#{_col(2, xxl)} + ((100% - #{_col(12, xxl)}) / 2) + 40px);
		width: 187px;
		height: calc(100% - 300px);

		@include media(xl) {
			left: calc(#{_col(1, xl)} + ((100% - #{_col(12, xl)}) / 2) + 74px);
		}

		@include media(lg) {
			left: calc(#{_col(1, lg)} + ((100% - #{_col(12, lg)}) / 2) + 54px);
		}

		@include media(md) {
			left: calc(#{_col(1, md)} + ((100% - #{_col(12, md)}) / 2) + 12px);
			height: calc(100% - 150px);
		}

		@include media(sm) {
			left: calc(#{_col(1, sm)} + ((100% - #{_col(12, sm)}) / 2) - 12px);
			width: 179px;
			height: calc(100% - 100px);
		}

		@include media(xs) {
			position: relative;
			top: 0;
			left: 0;
			width: 147px;
			height: 147px;
			margin: 0 auto 64px;
		}
	}

	&__rub {
		position: sticky;
		z-index: 9;
		top: 182px;
		left: 0;
		display: block;
		width: 187px;
		height: 187px;
		object-fit: contain;
		object-position: 50% 50%;
		transform: rotate(75deg) scale(0.75);
		transition: transform 0.1s linear;

		@include media(sm) {
			width: 179px;
			height: 179px;
		}

		@include media(xs) {
			position: relative;
			top: 0;
			transform: rotate(0deg) scale(1);
			width: 100%;
			height: 100%;
		}
	}

	&__outlet {
		position: relative;
		z-index: 10;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}

	&__piggy {
		position: relative;
		z-index: 9;
		display: block;
		width: 600px;
		height: auto;
		margin-left: auto;

		@include media(xl) {
			margin-left: -24px;
		}

		@include media(lg) {
			margin-left: -44px;
		}

		@include media(md) {
			margin-left: -100px;
		}

		@include media(sm) {
			width: 464px;
			margin-left: -86px;
		}

		@include media(xs) {
			display: none;
		}
	}

	&__piggy-xs {
		display: none;

		@include media(xs) {
			display: block;
			width: 335px;
			height: auto;
		}

		@include media(xxs) {
			margin-left: -23px;
		}
	}

	&__title {
		margin: 0 0 24px;
	}

	&__content {
		p {
			margin-bottom: 32px;
			color: $grayText;

			@include media(md) {
				margin-bottom: 24px;
			}
		}
	}

	&__bank {
		margin-bottom: 568px;

		@include media(md) {
			margin-bottom: 350px;
		}

		@include media(sm) {
			margin-bottom: 330px;
		}

		@include media(xs) {
			margin-bottom: 80px;
		}

		@include media(xxs) {
			margin-bottom: 52px;
		}

		p {
			margin: 0 0 32px;

			@include media(md) {
				margin-bottom: 24px;
			}
		}
	}
}

.variant {
	display: block;
	padding: 128px 0;
	background-color: #262626;

	@include media(lg) {
		padding-bottom: 108px;
	}

	@include media(md) {
		padding: 64px 0;
	}

	&__title {
		margin: 0 0 128px;
		text-align: center;
		color: #fff;

		@include media(md) {
			margin-bottom: 64px;
		}

		@include media(sm) {
			letter-spacing: -0.3px;
		}

		@include media(xs) {
			text-align: left;
		}
	}

	&__frame-box {
		display: flex;
		align-items: center;
		max-width: 585px;
		height: 100%;
		width: 100%;

		@include media(sm) {
			display: none;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
			object-fit: contain;
			object-position: 50% 50%;
		}
	}

	&__content {
		display: block;
		margin-bottom: 64px;
		&:nth-last-of-type(1) {
			margin-bottom: 0;
		}

		ol,
		ul {
			li {
				color: #fff;
			}
		}

		ol {
			li {
				margin-bottom: 64px;

				@include media(md) {
					margin-bottom: 32px;
				}

				@include media(xxs) {
					margin-bottom: 24px;
				}
			}
		}
	}

	&__desc {
		margin: 0 0 128px;

		@include media(lg) {
			margin-bottom: 108px;
		}

		@include media(md) {
			margin-bottom: 64px;
		}

		p {
			margin: 0 0 20px;
			font-family: "HalvarBreitCY", sans-serif;
			font-size: 16px;
			line-height: 1.2;
			font-weight: 500;
			text-transform: uppercase;
			color: #fff;

			@include media(md) {
				margin-bottom: 16px;
				font-size: 14px;
			}

			@include media(sm) {
				margin-bottom: 20px;
				font-size: 16px;
			}

			@include media(xs) {
				margin-bottom: 16px;
				font-size: 14px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__subtitle {
		margin: 0 0 32px;
		color: #fff;
	}
}

.cash-voucher {
	padding-top: 108px;
	background-color: #f6f6f6;

	@include media(sm) {
		padding-top: 64px;
	}

	&__img {
		display: block;
		max-width: 582px;
		width: 100%;
		height: auto;
		margin: 0 auto;

		@include media(xl) {
			margin: 0;
		}

		@include media(md) {
			max-width: 150%;
			width: 150%;
			margin-left: -28%;
		}

		@include media(sm) {
			max-width: 200%;
			width: 200%;
			margin-left: -68%;
		}

		@include media(xs) {
			max-width: 100%;
			width: 100%;
			margin: 0;
		}
	}

	&__title {
		margin: 0 0 64px;
		padding-top: 180px;

		@include media(lg) {
			margin-bottom: 42px;
		}

		@include media(md) {
			margin-bottom: 24px;
			padding-top: 200px;
		}

		@include media(sm) {
			padding-top: 242px;
		}

		@include media(xs) {
			margin-bottom: 32px;
			padding-top: 0;
		}
	}

	&__desc {
		@include media(xs) {
			margin-bottom: 46px;
		}
		/* stylelint-disable-next-line */
		p {
			margin: 0 0 20px;
			color: $text2;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.dataphones {
	padding: 232px 0;

	@include media(xl) {
		padding-bottom: 116px;
	}

	@include media(lg) {
		padding-bottom: 168px;
	}

	@include media(md) {
		padding-top: 214px;
		padding-bottom: 64px;
	}

	@include media(sm) {
		padding-top: 124px;
	}

	@include media(xs) {
		padding-top: 64px;
	}

	&__goods {
		@include media(xl) {
			margin-bottom: 128px;
		}

		@include media(md) {
			margin-bottom: 64px;
		}

		@include media(sm) {
			margin-left: -24px;
		}

		@include media(xs) {
			margin-bottom: 40px;
			margin-left: -12px;
		}
	}

	&__desc {
		display: flex;
		align-items: center;
		height: 100%;
		max-width: 336px;

		@include media(xl) {
			max-width: 432px;
		}

		@include media(md) {
			max-width: 100%;
		}

		/* stylelint-disable-next-line */
		p {
			margin: 0 0 20px;
			color: $grayText;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.dataphones-goods {
	@include media(sm) {
		width: 100vw;
		overflow-x: auto;
	}

	&__wrap {
		display: block;
	}

	&__parent {
		display: flex;
		flex-wrap: nowrap;
		padding-top: 46px;

		@include media(sm) {
			padding-right: 24px;
		}

		@include media(xs) {
			padding-top: 0;
			margin-top: -42px;
		}
	}

	&__decor-title {
		position: absolute;
		z-index: 0;
		top: 0;
		left: calc(#{_col(2, xxl)} + 12px);
		display: block;
		width: calc(#{_col(8, xxl)} - 24px);
		height: auto;
		pointer-events: none;

		@include media(xl) {
			left: 64px;
			width: calc(#{_col(12, xl)} - 128px);
		}

		@include media(lg) {
			width: calc(100% - 24px);
			left: 12px;
		}

		@include media(xs) {
			position: relative;
			width: auto;
			height: 92px;
		}
	}

	&__child {
		position: relative;
		z-index: 1;
		margin-right: 24px;

		&:last-child {
			margin-right: 0;

			@include media(sm) {
				padding-right: 48px;
			}

			@include media(xs) {
				padding-right: 12px;
			}
		}

		&:first-child {
			@include media(sm) {
				padding-left: 24px;
			}

			@include media(xs) {
				padding-left: 12px;
			}
		}
	}
}

.dataphones-child {
	display: flex;
	align-items: center;

	&__img {
		display: block;
		width: 152px;
		height: auto;

		@include media(md) {
			width: 112px;
		}
	}

	&__name {
		margin: 0 0 20px;
		width: 280px;
		min-height: 44px;
		color: $grayText;

		@include media(xl) {
			width: 272px;
		}

		@include media(lg) {
			width: 218px;
		}

		@include media(md) {
			width: 188px;
			min-height: 38px;
			margin-bottom: 26px;
		}

		@include media(xs) {
			width: 183px;
		}
	}
}
